@import "./functions";
@import "./variabels";

* {
    margin: 0;
    font-family: $Font;
}

header {
    background-color: $headerColor;
    @include centering($display);
    justify-content: flex-end;

    #emirates-logo,
    #adidas-logo,
    #dots {
        width: 50px;
        height: 30px;
        margin: 0.1rem, 0.6rem;
    }

    #dots {
        font-size: $tweentyPX;
        margin-left: 0.3rem;
        text-decoration: none;
        color: white;
    }
}

.content h2,
h4 {
    width: 75%;
    margin: auto;
    text-align: $center;
}

.content h2 {
    font-size: 50px;
}

.content h4 {
    font-size: $tweentyPX;
    margin-top: 10px;
    row-gap: 5px;
}

.content img {
    width: 100%;
}

.slider {
    position: relative;
    @include centering($display);
    justify-content: $center;
    max-width: 1000px;
    max-height: 200px;
    margin: 50px auto;
}

.slider .left-slide,
.slider .right-slide {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: $FooterColor;
    border-radius: 50%;
    font-size: $tweentyPX;
    top: 50%;
    cursor: pointer;
    margin-top: -20px;
    text-align: center;
    line-height: 40px;
    transition: all 0.5s ease;
}

.slider .left-slide {
    left: 30px;
}

.slider .right-slide {
    right: 30px;
}

.slider .left-slide:hover,
.slider .right-slide:hover {
    background-color: $BGColor;
}

.slider .sliderItems .item img {
    min-width: 100px;
    max-width: 100px;
    min-height: 160px;
    max-height: 160px;
    display: $display;
}

.slider .sliderItems .item {
    display: none;
}

.slider .sliderItems .item.active {
    display: $display;
}

#thePrecident {
    @include relativePosition;
    @include centering($display);
    justify-content: $center;
}

#thePrecident img {
    width: 50%;
}

.navigation {
    @include centering($display);
    justify-content: space-between;
    margin: 5px;
    margin-left: 10px;
    height: 7rem;
    align-items: $center;

    img {
        @include relativePosition;
        margin: 15px;
        left: 137px;
        width: 4rem;
        height: 4rem;
    }

    #menu {
        @include relativePosition;
        bottom: -25%;
    }

    #menu a {
        text-decoration: none;
        color: gray;
        margin-right: 2rem;
    }
}

.links {
    @include centering($display);
    justify-content: space-around;

    div {
        width: 200px;
        height: 250px;
        background-color: rgb(214, 214, 214);
        @include relativePosition;
        margin-top: 100px;
        box-shadow: 0px 0px 0px 33px rgba(242, 242, 242, 0.8);
    }
}

.links img {
    @include relativePosition;
    margin-left: 20%;
    top: 3rem;
    height: 10rem;
}

footer {
    margin-top: 5rem;
    height: 20rem;
    @include centering($display);
    background-color: $FooterColor;
    justify-content: $center;

    h2 {
        margin: auto;
        color: black;
        justify-content: $center;
    }
}